@import "./css/modal.css";
@import "./css/homepage.css";
@import "./css/navbar.css";
@import "./css/blog.css";



html,body
{
  font-family: 'Montserrat', sans-serif;
  background-color: #e6ecf0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
body {
  overflow-y: overlay;
}

/**
 * Lock the scroll position by adding this class to the `<html>` element.
 */
 .u-lock-scroll {
  overflow: hidden !important;
}

.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 1s ease-in;
  opacity: 1;
}