@import "./css/modal.css";
@import "./css/homepage.css";
@import "./css/navbar.css";
@import "./css/blog.css";



html,body
{
  font-family: 'Montserrat', sans-serif;
  background-color: #e6ecf0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
body {
  overflow-y: overlay;
}

/**
 * Lock the scroll position by adding this class to the `<html>` element.
 */
 .u-lock-scroll {
  overflow: hidden !important;
}
      
.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.transition-group {
  position: relative;
}

.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */