/*  */
/* Blog Card */
/*  */

.blogCard {
  position: relative;
  z-index: 1;
  margin: 32px auto;
  /* margin: 1rem; */
  width: 300px;
  height: 300px;
  /* box-shadow: 10px 10px 13px 1px rgba(199,199,199,0.75); */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  /* transition: all 0.5s cubic-bezier(.25,.8,.25,1); */
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.blogBody {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}
.blogCard:hover .blogBody {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/* .blogCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
.blog-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 13px 1px rgba(199,199,199,0.75);
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07); */
}



/*  */
/* Front of Blog Card */
/*  */

.blogCard:hover > .blogBody > .side-front {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in, visibility .75s linear;
  transition: opacity 1s ease-in, visibility .75s linear;
}
#blog-card-image{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:100%;
  /* border: 5px solid white; */
  height:100%;
  background-size: cover;
  background-position: center;
  transition: all 1.0s cubic-bezier(.25,.8,.25,1);
}
#blog-card-front-text{
  /* color: white; */
  background-color: #e4e4e4;
  border-radius: 0 0 10px 10px;
  border: 1px solid #8a8c8e;
  padding: 10px;
}



/*  */
/* Back of Blog Card */
/*  */

.side-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  /* padding: 32px; */
  border-radius: 10px;
  overflow: hidden;
  /* text-align: center; */
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#blog-back-desc{
  padding: 10px;
  height: 80%;
  font-size: 1.5em;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
}
#blog-back-information{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
}
.blog-back-icons{
  opacity: 0.75;
}
#blog-back-profile-image{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  box-shadow:         inset 0 0 2px #000000;
  /* top: -50%;
  left: 10%; */
  position: relative;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;  
}