/*  */
/* Homepage buttons */
/*  */
.homepage-btn{
	display: block;
	outline: none !important;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
	border: none;
	font-size: 1.5em;
	color: rgba(0, 0, 0, 0.7);
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: rgba(0, 0, 0, 0.7) 0 0px 0px 3px inset;
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
.homepage-btn:hover{
	color: rgba(255, 255, 255, 0.85);
	background-color: transparent;
	text-shadow: none;
	box-shadow: rgba(0, 0, 0, 0.7) 0 0px 0px 40px inset;
}
.skip-btn{
	font-size: 1em;
	padding: 5px 10px;
	/* margin: 10px auto !important; */
}
@media only screen and (max-width: 991px){
	.homepage-btn{
		font-size: 1em;
		/* padding: 10px 15px; */
		/* width: 100px; */
	}
}

/*  */
/* Hover Effects */
/*  */
.edit-icon{
  transition: all 300ms ease;
}
.edit-icon:hover{
  opacity:0.55;
}

/*  */
/* New Post Button override */
/*  */
.btn-override{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 2px #000000;
  border: none;
}
.btn-override:focus{
  outline:0 !important; 
}

/*  */
/* Form Button */
/*  */
.form-button{
	font-family: 'Montserrat', sans-serif !important;
}
.form-button:focus{
  outline:0 !important; 
}