/*  */
/* Footer */
/*  */
#footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #e4e4e4;
  height:30px;
  color: black;
}
#root {	
  display: flex;	
  flex-direction: column;	
  height: 100%;	
} 
#footer-flex{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-copyright{
  font-size: .9em;
  opacity: 0.55;
}