.homepageTest {

	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Montserrat', sans-serif;
	/* user-select: none; */
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-position: center;
	background-size: cover;
	background-color: black !important;
	position: fixed;
	width: 100%;
  height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  color: white;
}
#titleText{
	/* font-size: 240px; */
	font-size: 20em;
	font-family: 'Satisfy', cursive;
	text-shadow: 2px 2px 5px rgba(5, 5, 5, 1);
}
.btnContainer{
	align-content: center;
	display: flex;
	width: 50%;
  margin: 0 auto;
	justify-content: space-around;
}
.home-hero {
	/* border: 15px solid orange; */
  position: fixed;
  top: 40%;
	left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.descText{
	font-size: 35px;
}
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: titleAnimation 36s linear infinite 0s;
	-ms-animation: titleAnimation 36s linear infinite 0s;
	-webkit-animation: titleAnimation 36s linear infinite 0s;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 12s;
	-ms-animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 18s;
	-ms-animation-delay: 18s;
	-webkit-animation-delay: 18s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 24s;
	-ms-animation-delay: 24s;
	-webkit-animation-delay: 24s;
}
.slidingVertical span:nth-child(6){
	animation-delay: 30s;
	-ms-animation-delay: 30s;
	-webkit-animation-delay: 30s;
}

/*topToBottom Animation*/
/* @-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
} */
@keyframes titleAnimation { 
	0% { opacity: 0 }
	8% { opacity: 1 }
	17% { opacity: 1 }
	19% { opacity: 0 }
	100% { opacity: 0 }
}

/* Background Images */

.backgroundLoop,
.backgroundLoop:after {
	transform: scale(1.05);
	filter: blur(3px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}
.backgroundLoop:after {
	content: '';
	background-image: transparent url(../images/homepage/home1.jpg) repeat top left;
}
.backgroundLoop li { list-style: none; }
.backgroundLoop li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity:0;
	z-index: 0;
	/* visibility: hidden; */
	animation: imgAnimation 36s linear infinite 0s;
}
.backgroundLoop li:nth-child(1) span {
	background-image: url(../images/homepage/home1.jpg);
}
.backgroundLoop li:nth-child(2) span {
	background-image: url(../images/homepage/home2.jpg);
	animation-delay: 6s;
}
.backgroundLoop li:nth-child(3) span {
	background-image: url(../images/homepage/home3.jpg);
	animation-delay: 12s;
}
.backgroundLoop li:nth-child(4) span {
	background-image: url(../images/homepage/home4.jpg);
	animation-delay: 18s;
}
.backgroundLoop li:nth-child(5) span {
	background-image: url(../images/homepage/home5.jpg);
	animation-delay: 24s;
}
.backgroundLoop li:nth-child(6) span {
	background-image: url(../images/homepage/home6.jpg);
	animation-delay: 30s;
}

@keyframes imgAnimation { 
	0% { opacity: 0; animation-timing-function: ease-in; }
	8% { opacity: 1; animation-timing-function: ease-out; }
	17% { opacity: 1 }
	25% { opacity: 0 }
	100% { opacity: 0 }
}
@media only screen and (max-width: 991px){
	#titleText{
		font-size: 10em;
	}
}