/* Navbar */

.navbar{
  margin-bottom: 1rem;
  /* background-color: grey; */
}

.navbar a {
  font-weight: bold;
  color: rgb(160, 159, 159);
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

ul.nav.navbar-nav li {
  /* margin: 0 0.5rem; */
}
.navbar-profile{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  box-shadow: inset 0 0 2px #000000;
  position: relative;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  transition: all 300ms ease;  
}
.navbar-profile:hover{
  transform: scale(1.1);
}
#navbar-title{
  font-family: 'Satisfy', cursive;
  font-weight: normal;
  font-size: 2.5em;
  text-decoration: none !important;
}
/* #navbar-title:hover{
  text-decoration: none !important;
} */
