#post-container{
  margin: 20px 0 20px 0;
  padding: 10px;
  background-color: #e4e4e4;
  border: 1px solid #8a8c8e;
}
#post-title{
  font-family: 'Merriweather', serif;
  font-size: 3em;
}
.post-details-text{
  font-size: 0.75em;
  opacity: 0.75;
}
#post-details{
  display:flex;
  align-items: center;
  /* font-size: 0.75em; */
}
#post-edit{
  margin-left: 5px;
}
/* .post-content::first-letter {
  font-size: 5em;
}
.post-content::first-line{
  line-height: 100%;
} */
.post-content {
  padding: 5px;
}
.post-layout2-image{
  background-size:cover;
  background-position: center;
  height: 400px;
  width: 50%;
  float: left;
  margin: 5px;
}
.post-layout3-image{
  background-size:cover;
  background-position: center;
  height: 400px;
  width: 50%;
  float: right;
}
.post-layout4-image{
  background-size:cover;
  background-position: center;
  height: 400px;
  width: 100%;
}
