.profile-layout{
  width: 100%;
  height: 500px;
}
.profile-information{
  width: 33%;
  height: 100%;
  float: left;
  position: relative;
  border: 2px solid grey;
  background-color: #e4e4e4;
}
.profile-picture{
  height: 300px;
  width: 100%;
  
  /* border-radius: 50px; */
  /* border: 2px solid #e4e4e4; */
  /* box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.75); */
  /* top: -50px;
  left: 10px; */
  position: relative;
  background-image: url(https://i.imgur.com/STwmMba.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
}
.profile-details{
  width: 100%;
  padding: 10px;
  border-top: 2px solid grey;
}
.profile-name-and-edit{
  display: flex;
  justify-content: space-between;
}
.profile-name-and-edit i{
  transition: all 300ms ease;
}
.profile-name-and-edit i:hover{
  opacity: 0.75;
}
.profile-social{
  display:flex;
  position: absolute;
  bottom: 0px;
}
.profile-social i{
  padding-right: 10px;
  padding-bottom: 10px;
  transition: all 300ms ease;
}
.profile-social i:hover{
  opacity: 0.75;
}
.profile-blogs{
 width: 66%;
 height: 100%;
 float: right;
}